#navbar{
    background-color: #222831;
}
body{
    background-color: #171717
}
#iconConvert{
    margin-top: 45vh;
}
#htmlCard, #jsxCard{
    height: 80vh;
}
#htmlTextArea, #jsxTextArea{
    height: 70vh;
    color:white;
}
#htmlTextArea{
    width: 45vw;
}
#jsxTextArea{
    width: 37vw;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
